body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 1000px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(129, 248, 133, 0.5);
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    top: -600px;
    left: 500px;
}

button:hover {
    background-color: #45a049;
}